body{
  overflow-x: hidden;
}

#introducao {
  display: flex;
  flex-direction: column;
  color: $primary-color; // Substitua pela variável cor desejada
  width: 100%;
  height: 40vh;
  margin-top: 40px;
  
  //clip-path: url(#svgMask1); 

  .capa {
    display: flex;
    flex-direction: column;
    height: 40%;
    background-image: $capa; // Substitua pela variável imagem desejada
    background-repeat: no-repeat;
    background-position: auto;
    background-size: cover;
    justify-content: space-between;
    height: 100vh;

    h1 {
      @include custom-h1($title, 50px, 100px, rgb(134, 173, 201)); // Substitua por suas configurações de mixin
      z-index: 3;
      color: $primary-color; // Substitua pela variável cor desejada
    }
  }
}

.introducao_main_text {
  display: flex;
  justify-content: center;
  
  section {
    width: 80%;
    flex-direction: column;

    p {
      font-size: 20px;
      font-family: $text; // Substitua pela variável de fonte desejada
      font-weight: 500;
      line-height: 1.5em;
      margin-bottom: 1.2em;
    }
  }
}
