footer {
    position: absolute; // Define a posição como absoluta
    bottom: 0; // Fixa o footer na parte inferior da página
    left: 0; // Alinha o footer à esquerda
    width: 100%; // Ocupa toda a largura
    display: flex;
    justify-content: center;
    font-size: 14px;
    align-items: center;
    color: $second-color; // Substitua pela variável de cor desejada
    border-top: 5px solid $second-color;
    height: 5vh;
    background-color: rgb(210, 217, 219); // Substitua pela variável de cor desejada
    svg{
        margin-right: 2px;
    }
}