//Import of fonts
@font-face {
    font-family: "Arboria";
    src: url(../../src/font/Arboria-Book.ttf);
}
@font-face {
    font-family: "verdanab";
    src: url(../../src/font/verdanab.ttf);
}
@font-face {
    font-family: Georgia;
    src: url(../../src/font/georgiai.ttf);
}

//Import of partials
@import '_partials/nav.scss';
@import '_partials/custom-h1.scss';
@import '_partials/variables.scss';

//Page import
@import '../../src/scss/pages/page1.scss';
@import '../../src/scss/pages/page2.scss';


*{
    padding: 0;
    margin: 0;

}

body{
    min-height: 100vh;
    position: relative;
}

#capa{
    display: flex;
    flex-direction: column;
    color: $primary-color;
    width: 100%;
    height: 100vh;
    background-image: $capa;
    background-repeat: no-repeat;
    background-position: auto;
    background-size: cover;
    justify-content: center;

    //Adicionar o Gafrismo
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: $efeito;
        background-repeat: no-repeat;
        background-position: auto;
        background-size: cover;
        z-index: 2; /* Coloca a imagem do efeito à frente da imagem de fundo */
    }

    /* Adicione a cor de fundo à frente das outras imagens */
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: $corFundo;
        background-repeat: no-repeat;
        background-position: auto;
        background-size: cover;
        z-index: 1; /* Coloca a cor de fundo à frente de tudo */
    }
    

    h1{
        @include custom-h1($title, 70px, 100px, rgb(134, 173, 201));   
        z-index: 3;
    }

    .subtitle{
        display: flex;
        align-items: center;
        margin-top: 10px;
        z-index: 3;
        text-decoration: none;
        color: white;
        font-size: 21px;
        
        h2{
            margin-left: 100px;
            margin-right: 10px;
            font-family: $subtitle;
        }
        span{
            padding-left: 3px;
            height: 20px;
            border-right: 3px solid $primary-color;
        }
    }
}


