//Colors
$primary-color: white;
$second-color: rgb(27,101,156);

//Image
$capa: url(../../src/img/Imagem.png);
$efeito: url(../../src/img/Grafismo.png);
$corFundo: url(../../src/img/Cor.png);
$wave: url(../../src/svg/wave.svg);

//Font
$title: "Arboria";
$subtitle: "verdanab";
$text:"Georgia"